.sidebar {
  width: 250px;
  background-color: #a4d56d; // match green color for sidebar background
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-button {
  background-color: #ffffff; // white background for buttons
  color: #000000; // black text color
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #dddddd; // light gray on hover
  }

  &[aria-current="page"] {
    font-weight: bold;
    color: #d9534f; // red color for active link text
  }
}
