.sidebar {
  width: 250px;
  background-color: #43543d;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-header {
    text-align: center;
    margin-bottom: 20px;

    .sidebar-logo {
      width: 100px;
      height: auto;
    }

    .sidebar-title {
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
  }
}

.sidebar-button {
  background-color: #43543d;
  color: white;
  margin-bottom: 10px;
  padding: 15px 25px; /* Adjusted padding */
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s;
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
  border-radius: 50px; /* Use border-radius to create oval shape */

  &:hover {
    background-color: #8cdb74;
  }

  .icon {
    margin-right: 10px; /* Add space between icon and text */
  }

  .text {
    flex-grow: 1; /* Make text take up the remaining space */
  }

  &.active {
    background-color: #8cdb74; /* The same color as hover */
    font-weight: bold;
    color: #020203;
  }
}
