// src/pages/admin-Qr code attendance/ScanPage.scss

.scan-page {
    .top-bar {
      display: flex;
      justify-content: flex-start;
      padding: 10px;
    }
  
    .scan-success {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 1.5em;
      color: green;
    }
  
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      button {
        margin: 0 10px;
      }
    }
  
    .scanned-data {
      margin-top: 20px;
      text-align: center;
  
      h2 {
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1.2em;
      }
    }
  }
