.loginPage {
  display: flex;
  height: 100vh;
  background-color: #e7e8d1;

  &__image {
    width: 50%;
    height: 100%;
    
  }
}

.loginForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #a3d8c7;

  .logo {
    width: 150px;
    margin-bottom: 20px;
  }

  h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #2e5233;
    margin-bottom: 20px;
  }

  .inputField {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    position: relative;

    input {
      width: 100%;
      padding: 10px 40px 10px 10px;  // Adjust padding to make space for icon
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;

      &:focus {
        border-color: #4a9b70;
        box-shadow: 0 0 5px rgba(74, 155, 112, 0.5);
        outline: none;
      }
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #666;  // Icon color
    }

    &.username::before {
      content: "\f007";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }

    &.password::before {
      content: "\f023";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }
  }

  button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 20px;
    background-color: #4a9b70;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #367a4b;
    }
  }

  p {
    color: red;
    margin-top: 10px;
  }
}
