.login-container {
  display: flex;
  height: 100vh;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 179%;
  height: auto;
}

.form-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.logo {
  margin-bottom: 10px;
}

.logo img {
  width: 280px;
  height: auto;
}

form {
  width: 50%;
  max-width: 400px;
}

.input-field {
  position: relative;
  margin-bottom: 20px;
}

.input-field .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}

.input-field input {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  box-sizing: border-box;
  border: 1px solid #2ccd5b;
  border-radius: 5px;
}

.main-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.main-button:hover {
  background-color: #0056b3;
}

.login-form {
  width: 500px;
  margin: 50px auto;
  padding: 100px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}

.login-form .logo img {
  width: 150px;
  margin-bottom: 200px;
  height: auto;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main-button {
  width: 30%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.main-button:hover {
  background-color: #218838;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}
