.inputField {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    position: relative;
  
    input {
      width: 100%;
      padding: 10px 40px 10px 10px;  // Adjust padding to make space for icon
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 16px;
  
      &:focus {
        border-color: #4a9b70;
        box-shadow: 0 0 5px rgba(74, 155, 112, 0.5);
        outline: none;
      }
    }
  
    .icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #666;  // Icon color
    }
  }
  