.household-list-container {
  h1 {
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    .household-info {
      display: flex;
      justify-content: space-between;
      background-color: #e8e8e8;
      font-weight: bold;

      .household-details {
        flex: 1;
      }

      .household-action {
        flex: 0;
        button {
          margin: 5px;
        }
      }
    }
  }
}
