.data-table {
  margin: 20px 0;
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 10px;
      border: 1px solid #ddd;
    }
    th {
      background-color: #09704e;
    }
  }
}
