.sidebar {
  width: 250px;
  background-color: #2c3e50;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-button {
  background-color: #34495e;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  width: 100%;
  transition: background-color 0.3s;

  &:hover {
    background-color: #1abc9c;
  }
  .sidebar-button[aria-current="page"] {
    /* Styles for active link */
    font-weight: bold; /* Example: Make active link bold */
    color: #020203; /* Example: Change color for active link */
  }
}
